<div class="container">
 <div class="row">
  <div class="col-md-4">
   <h1>商品詳細</h1>
    <div>
     <%= image_tag @item.get_image(100,100) %>
    </div>
    <div>商品名 <%= @item.name %></div>
    <div>商品説明 <%= @item.introduction %></div>
    <div>ジャンル <%=  @item.genre_id %></div>
    <div>税込価格（税抜価格）<%= @item.with_tax_price %> (<%= @item.price %>)</div>
    <div>販売ステータス
      <% if @item.is_active == true %>
       <p>販売中</p>
      <% else %>
       <p>販売停止</p>
      <% end %>
    </div>
    <div><%= link_to '編集する', edit_admin_item_path(@item.id) %></div>
  </div>
 </div>
</div>
