<div class="container">
 <div class="row">
　<div class="col-md-4">
   <h1>会員詳細</h1>
    <div>会員ID <%= @customer.id %></div>
    <div>氏名 <%= @customer.first_name, @customer.last_name %></div>
    <div>フリガナ <%= @customer.first_name_kana, @customer.last_name_kana %></div>
    <div>郵便番号 <%= @customer.postal_code %></div>
    <div>住所 <%= @customer.address %></div>
    <div>電話番号 <%= @customer.telephone_number %></div>
    <div>メールアドレス <%= @customer.email %></div>
    <div>会員ステータス <%= @item.is_active%></div>
    <div><%= link_to '編集する', edit_admin_item_path(@item.id) %>　　<%= link_to '注文履歴一覧を見る',%></div>
  </div>
 </div>
</div>
